*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #33de61;
    min-height: 14vh;
    justify-content: space-around;
    display: flex;
    align-items: center;  
}

.logo{
    width: 180x;
    height: 90px;
}

.navigationButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
    width: 75%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20pt;
}

.navigationButtons a{
    text-decoration: none;
    color: white;
}

.navigationButtons a:hover{
    text-decoration: underline;
}

.IntroductionText{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;  
}

.heading1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 32pt;

}

.paragraph1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

/*Staff members page*/

.heading3{
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42pt;
    font-weight: bold;
    text-align: center;
}

.Staff-container{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%; 
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.names{
    padding-top: 4%;
    font-size: 36pt;
    max-width: 320px;
    font-weight: bolder;
}

.Titles{
    font-size: 24pt;
    max-width: 320px;
    font-weight: bold;
}

.infoPerson{
    font-size: 14pt;
    max-width: 320px;
}

.staff1{
    margin-top: 3%;
    text-align: center; 
}

.staff2{
    margin-top: 3%;
    text-align: center; 
}

.staff3{
    margin-top: 3%;
    text-align: center; 
    
}

.pictures{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to bottom, #c7c7c7, #ebebeb);
}


@media only screen and (max-width: 540px){
    .navbar{
        margin-left: 0;
        margin-right: 0;  
    }

    .IntroductionText{
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;  
    }
}

@media only screen and (max-width: 500px){
    .navigationButtons{
        font-size: 14pt;
    }
}

@media only screen and (max-width: 360px){
    .navigationButtons{
        font-size: 12pt;
    }
}
