*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*NAVBAR, used on all pages */

.navbar{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #57ff84;
    min-height: 14vh;
    justify-content: space-around;
    display: flex;
    align-items: center;  
}

.logo{
    width: 180x;
    height: 90px;
}

.navigationButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
    width: 83%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
}

.navigationButtons a{
    text-decoration: none;
    color: white;
}

.navigationButtons a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

/* End of Navbar */


/* Homepage */

.IntroductionText{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;  
}

.IntroductionText h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
}

.IntroductionText .paragraph1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

/*Schedule page*/

table{
    margin-left: 10%;
    margin-right: 10%;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

caption{
    font-size: 24pt;
    text-align: left;
}

th{
    text-align: left;
    letter-spacing: 2px;
    background-color:  #57ff84;
    color: white;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #ddd;
}




/*Staff page*/

.wrapper{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.wrapper h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42pt;
    font-weight: bold;
    color: #57ff84;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 50px;
}

.team{
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
    margin-top: 8%;
}

.team .staffMember{
    background:#57ff84;
    margin: 25px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    position: relative; 
}

.team .staffMember h3{
    color: white;
    font-size: 26pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

.team .staffMember p.role{
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-transform: uppercase;
    margin: 12px;
}

.team .staffMember p{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin: 12px;
}

.team .staffMember .teamImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: #f0f0f0;
}

.team .staffMember .teamImg img{
    width: 100px;
    height: 100px;
    padding: 10px;

}


@media only screen and (max-width: 800px){
    .navbar{
        margin-left: 0;
        margin-right: 0;  
    }

    .IntroductionText{
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;  
    }
}

@media only screen and (max-width: 500px){
    .navigationButtons{
        font-size: 14pt;
    }
}

@media only screen and (max-width: 360px){
    .navigationButtons{
        font-size: 12pt;
    }
}


